<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>221578359285-sqf4mi8fdc7v02jtqt14ja87mq812ffh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.221578359285-sqf4mi8fdc7v02jtqt14ja87mq812ffh</string>
	<key>API_KEY</key>
	<string>AIzaSyCsPt1LKlAjpXxv0vK5XSuHrtQ-QW6ZWq8</string>
	<key>GCM_SENDER_ID</key>
	<string>221578359285</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.anepodymka.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-447f1</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-447f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:221578359285:ios:59b4ff566966b2e8b530bc</string>
</dict>
</plist>